.vscode/
build/
prebuilds/
node_modules/
token.txt
.DS_Store
.idea
stress-test
crash.log
test/snapshot.txt
npm
.vs/
test/fan
test/fanotify.cpp
test/fa
test/watchdir
test/fanotify.c
package-lock.json
